@import '../../styles.scss';

.navbar {
	
	.navbar-brand {
		@media screen and (max-width: 385px) {
			font-size: 0.90rem;
		}
	}

	background-color: $dark-green;

	a{
		color: $gray;
	}

	[_ngcontent-c1] .activated[_ngcontent-c1] {
		color: $gold;
	}
}

