/* You can add global styles to this file, and also import other style files */
$light-green: #128422;
$medium-green: #0d711b;
$dark-green: #045810;
$gray: #dee2e6;
$gold: #bdc300;

.stpatrickvideo {
	width: 100%;
	max-width: 800px;
	height: 500px;
	display: block;
	margin-bottom: 50px;
	margin: auto;
}

.push-top {
	margin-top: 50px;
}

.push-bot {
	margin-bottom: 50px;
}

.small-push-top {
	margin-top: 25px;
}